/* $Id: style.css 79 2007-11-15 22:13:21Z dsuzukisanders $ */
@CHARSET "UTF-8";

body
{
font-family: Helvetica, Verdana, Tahoma, Sans Serif;
background-color: #white;
text-align: center;
}

a
{
color: #7c7d77;
text-decoration: none;
}

a:hover
{
color: #8b6a41;
}

table td {
vertical-align: top;
}


a img{
border-style: solid 2px white;
opacity: 0.5;
}

#fpdiv
{
letter-spacing: -1px; 
margin-top: 10px; 
margin-left: 12px; 
clear: both; 
float: left;
}


.brownbox
{
}
.brownbox:hover
{
}

img{
border-color: transparent;
background-color: transparent;
padding: 0px;
border-style: solid;
border-width: 2px;
}

a img:hover {
border-style: solid;
/* border-color: #8DA5BF; */
border-color: #ab8a61;
border-width: 2px;
opacity: 1.0;
}

#wrapper {
  text-align: left;
  margin: 20px auto;
  width: 1024px;
  padding-top: 0px;
  margin-bottom: 10px;
  background-color: white;

 background:#ffffff; 
}

#header {
/* position: relative; */
text-align: left;
padding: 0px 0px 0px 0px;
}

.logo {
margin: 0px;
margin-bottom: 5px;
padding: 0px;
width: 200px;
height: 151px;
float: left;
}

h1 {
	font-size: 25px;
	margin: 0px;
	padding: -2px;
}

.menu {
padding: 10px 30px 0px 0px;
text-align: left;
float: right;
}

.menuitem {
display: inline;
font-weight: bold;
}

.bigletter {
}

.sitename {
line-height: 200%;
color: #888888;
font-size: 16pt;
font-weight: bold;
padding: 0px 10px 0px 10px;
}

.sitename a
{
color: #888888;
text-decoration: none;
}


.sitename2 {
line-height: 200%;
color: orange;
font-size: 16pt;
font-weight: bold;
padding: 0px 10px 0px 10px;
}

.sitename2 a{
color: orange;
}

.pagetitle
{
clear: both;
font-size: x-large;
margin-bottom: 5px;
font-weight: bold;
margin-left: 3px;
padding: 10px 10px; 0px; 10px;
}

.pagecontent
{
clear: both;
padding-left: 10px;
padding-right: 10px;
}

.subtitle
{
color: red;
margin-left: 10px;
}

.intextfield 
{
#font-family: Aquabase, Verdana, Sans;
font-size: large;
background-color: #EEEEEE;
}

.intextfield hover
{
background-color: red;
}

.inpassfield 
{
background-color: #CCCCCC;
}

.groupsprof
{
margin: 10px;
display: inline;
}

#userprof
{
width: 300px;
}

#userprof span.medtext
{
padding: 0px;
margin: 0px;
}

span.smltext
{
width: 100px;
overflow: auto;
}

.medtext
{
padding-left: 10px;
#font-family: courier new, serif;
font-weight: bold;
font-size: 12pt;
}

.largetext
{
font-weight: bold;
padding-top: 40px;
display: block;
color: orange;
font-size: 24pt;
letter-spacing: -2px;
}

.largetext2
{
font-weight: bold;
padding-top: 40px;
display: block;
color: #dd8300;
font-size: 24pt;
letter-spacing: -2px;
}

.smltext
{
#font-family: courier new, serif;
font-weight: bold;
font-size: 8pt;
}

.date
{
padding-left: 10px;
#font-family: courier new, serif;
font-weight: bold;
}

.quote
{
font-size: small;
padding-left: 15px;
width: 150px;
overflow: hidden;
display: block;
}

.editprof
{
padding-left: 10px;
font-size: small;
}

.newusersblock img
{
border: solid 2px #dddddd;
}

#thumbslist
{
overflow-y: hidden;
overflow-x: auto;
width: 800px;
padding: 15px 12px 0 11px;
}


.newusersblock
{
clear: both;
display: block;
background-color: #ffffff;
padding: 3px;
margin-bottom: 15px;
white-space: nowrap;
overflow: hidden;
}
.newusersblock:hover
{
/* background-color: #EEEEEE; */
}

.newusersblocktitle
{
padding-left: 10px;
font-size: 11pt;
font-weight: bold;
/* font-family: Courier New, serif; */
color: #8DA5BF;

}

.newusersblockcontent
{
padding: 0px;
display: inline;
align: left;
}

.statementblocktitle
{
border-color: #CCCCCC;
border-style: solid;
border-width: 2px;
background-color: #cccccc;
color: white;
width: 400px;
padding: 10px;
overflow: hidden;
}

.statementblock
{
border-color: #CCCCCC;
border-style: solid;
border-width: 2px;
width: 400px;
padding: 10px;
}

.groupmemberblock
{
padding: 2px 5px 2px 5px;
border-color: #CCCCCC;
border-style: solid;
border-width: 2px;
background-color: transparent;
/* font-family: Courier New, serif; */
font-weight: bold;
width: 300px;
padding: 10px;
}

.groupmemberblocktitle
{
padding: 2px 5px 2px 5px;
border-color: #CCCCCC;
color: white;
border-style: solid;
border-width: 2px;
background-color: #cccccc;
/* font-family: Courier New, serif; */
font-weight: bold;
width: 300px;
padding: 10px;
}

.fpwelcomeblock
{
background-color: #ffffff;
text-align: left;
padding: 10px;
font-weight: bold;
font-size: 11pt;
color: #EEEEEE;
}

.welcomeblock
{
}

.welcomeblockcontents
{
color: #aaaaaa;
}


.imagetitle
{
padding-top: 5px;
#font-family: Courier New, serif;
font-weight: bold;
}

.imgcomment
{
padding: 10px;
margin: 0px;
width: 300px;
}

.commenttitle
{
font-family: courier new;
opacity: 1.0;
}

.commentstabletitle
{
width: 304px;
background-color: #cccccc;
color: white;
padding: 10px;
}

.commentstable
{
width: 300px;   
background-color: transparent;
}

.imagesblock
{
}

#footer {
clear: both;
border-top: 0px solid #313632;
#font-family: courier new;
font-weight: normal;
font-size: 10pt;
letter-spacing: -1px;
color: #bbbbbb;
background-color: #white;
margin: 0px;
margin-top: 0px;
padding: 10px;
text-align: left;
}

.clear
{
clear: both;
}

.signupbox
{
margin-left: 10px;
background-color: #666666;
padding: 20px;
}


.storiesblocktitle
{
padding-bottom: 0px;
float: right;
margin-left: 10px;
width: 548px;
background-color: #878d9b;
color: white;
border: solid 2px #878d9b;
#font-family: Courier New, Serif;
margin-right: 5px;
margin-bottom: 0px;
padding-right: 2px;
scrollbar-base-color: #888888;
scrollbar-3dlight-color: #000000;
}


.storiesblock
{
padding-bottom: 20px;
float: right;
margin-left: 10px;
width: 548px;
background-color: transparent;
border: solid 2px #878d9b;
#font-family: Courier New, Serif;
height: 240px;
overflow: auto;
margin-right: 5px;
margin-bottom: 10px;
padding-right: 2px;
scrollbar-base-color: #888888;
scrollbar-3dlight-color: #000000;
}

.storycontainer
{
padding-top: 10px;
}

.storytitle
{
padding-left: 10px;
font-size: 14pt;
font-weight: bold;
}

.storydate
{
padding-left: 10px;
font-size: 6pt;
font-weight: bold;
}

.storyauthor
{
padding-left: 10px;
font-size: 8pt;
font-weight: bold;
}

.storycontent
{
padding-left: 10px;
font-weight: bold;
}

.forumnewsubblock
{
width: 400px;
padding: 10px;
border: 2px solid #CCCCCC;
}

.forumnewsubblocktitle
{
width: 400px;
padding: 10px;
border: 2px solid #CCCCCC;
color: white;
background-color: #cccccc;
}

.forumthreadtitle
{
padding: 20px;
color: white;
}

#forum
{
width: 400px;
}

#forum th
{
}

.forumposts
{
border: 2px solid #BBBBBB;
font-weight: bold;
}

.forumposts tr td
{
background-color: #cccccc;
border: solid 1px #bbbbbb;
padding: 5px;
}

.memberblocktitle
{
width: 300px;
padding: 10px;
border: 2px solid #CCCCCC;
background-color: #cccccc;
color: white;
}

.memberblock
{
width: 300px;
padding: 10px;
border: 2px solid #CCCCCC;
overflow: auto;
}

.userpageblock
{
width: 300px;
padding: 10px;
border: solid 2px #cccccc;
}

.lefthand
{
float: left;
width: 300px;
}

.righthand
{
float: right;
width: 425px;
}

.userpageblocktitle
{
width: 300px;
padding: 10px;
color: white;
background-color: #cccccc;
border: solid 2px #cccccc;
}

.forumposts .whitebg
{
background-color: white;
font-size: 9pt;
}

.forumsubject
{
width: 100%;
margin: auto;
}

.smlimgbar
{
margin: 0px ;
margin-right: 10px;
}

.imagecaption
{
color: #888888;
font-weight: bold;
}

#lizziefpblock
{
background-repeat: no-repeat;
}
